@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Desktop */
@media (min-width: 992px) {

    .personaLink{
        color:black;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        padding-top:25px;
        margin-left: -310px;
    }

    .personaLink:hover{
        color:black;
        opacity: .5;
        transition: .3s;
    }
}

/* ______________________________________ */
/* Iphone */
@media (min-device-width:320px)
{
    .personaLink{
        margin-right: 500px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding-top:25px;
        color:black;
    }
}

/* ______________________________________ */
/* Ipad */
@media(min-device-width : 768px)
{
    .personaLink{
        margin-right: 550px;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        padding-top:25px;
        color:black;
    }
}